.ios, .md{

    page-about {
        ion-item {

            padding: 20px;
            margin: 10px, 2px;
           -webkit-box-shadow: 1px 0px 39px -12px rgba(0,13,255,1);
            -moz-box-shadow: 1px 0px 39px -12px rgba(0,13,255,1);
            box-shadow: 1px 0px 39px -12px rgba(0,13,255,1);
                    }

    }

}
