.ios, .md{

    page-home {
                 h2{
                     text-align: center;
                }
               #cool{
                    text-align: center;
                    color: blue;
                }
     }
 }